In [46]:
import pandas as pd
import scipy.sparse as sp

In [47]:
ICM_metadata = pd.read_csv("../data/data_ICM_metadata.csv")
train = pd.read_csv("../data/data_train.csv")

In [52]:
ICM_metadata.head()

   item_id  feature_id  data
0     2519           0   1.0
1     2642           0   1.0
2     3316           0   1.0
3     3400           0   1.0
4     3472           0   1.0

In [53]:
train.head()

   user_id  item_id  data
0        0        0   1.0
1        0        2   1.0
2        0      120   1.0
3        0      128   1.0
4        0      211   1.0

In [56]:
icm = sp.coo_matrix((ICM_metadata['data'], (ICM_metadata['item_id'], ICM_metadata['feature_id']))).tocsr()
interactions = sp.coo_matrix((train['data'], (train['user_id'], train['item_id']))).tocsr()

icm, interactions

(<COOrdinate sparse matrix of dtype 'float64'
 	with 2940040 stored elements and shape (38121, 94331)>,
 <COOrdinate sparse matrix of dtype 'float64'
 	with 1764607 stored elements and shape (35736, 38121)>)